
.boxes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section{
  margin-bottom: 5%;
}
h2{
  font-size: 24px;
}
.subby{
  font-size: 16px;
}
.mainpage{
  display: flex;
}
.mainimgsize{
  height: 500px;
}


* :not(.GuildWars2){
  font-family: "Tahoma", sans-serif;
}
